<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/output.css">
    <title>Home - Reserva</title>
    <title>Landing-Page</title>
    <meta name="description" content="Descrição">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body class="bg-white">
    <header>
        {% include 'componentes/navbar.html' %}
    </header>

    <main>
        <section class="mt-16 flex justify-center">
            <div class="flex relative justify-center flex-col">
                <!-- Barra de pesquisa -->
                <form action="/pesquisar" method="get">
                    <div class="flex flex-row items-center gap-2">
                        <input type="text" name="query" placeholder="Buscar por restaurantes" class="w-96 bg-gray-200 text-gray-800 pl-10 pr-4 py-1 rounded-md border focus:outline-none focus:ring-2 focus:ring-yellow-500">
                        <button type="submit" class="border border-gray-200 p-1 rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="size-6 text-orange-500 ">
                                <path strokeLinecap="round" strokeLinejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                            </svg>
                        </button>
                    </div> 
                </form>
            </div>
        </section>
        <div class="flex flex-col gap-2">
            {% if resultados_pesquisa %}
            <h1 class="ml-2 font-semibold text-gray-600">Resultados para {{ query }}</h1>

                <ul class="flex gap-4">
                    {% for restaurante in resultados_pesquisa %}
                        <!-- Renderizar os restaurantes encontrados na pesquisa -->
                        <label for="detalhes-{{restaurante[0]}}" class="bg-gray-100 mx-8 flex flex-col justify-center shadow-lg rounded-md cursor-pointer hover:border-2 border-gray-300">
                            <div class="flex flex-row">
                                <img src="static/assets/restaurantes/disponiveis/bellaPizza.svg" alt="bellaPizza" class="w-3/5"/>
                                <div class="flex flex-col ml-2">
                                    <p class="text-md font-semibold text-gray-700">{{restaurante[1]}}</p>
                                    <p class="text-xs font-normal text-gray-600 mt-2">Horário: 12:30 até 18:30</p>
                                    <p class="text-xs font-normal text-gray-600 mt-auto">mesas disponíveis: 5</p>
                                </div>                              
                            </div>
                        </label>  
                    {% endfor %}
                </ul>
            {% elif query and not resultados_pesquisa %}
            <p class="ml-2">Nenhum resultado encontrado para {{query}}</p>  
            {% endif %}
        </div>
        <section>
            <span class="flex flex-col ml-24 mt-24">
                <h1 class="text-yellow-500 uppercase text-xl">em alta</h1>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-6 text-orange-600">
                  <path fill-rule="evenodd" d="M8.074.945A4.993 4.993 0 0 0 6 5v.032c.004.6.114 1.176.311 1.709.16.428-.204.91-.61.7a5.023 5.023 0 0 1-1.868-1.677c-.202-.304-.648-.363-.848-.058a6 6 0 1 0 8.017-1.901l-.004-.007a4.98 4.98 0 0 1-2.18-2.574c-.116-.31-.477-.472-.744-.28Zm.78 6.178a3.001 3.001 0 1 1-3.473 4.341c-.205-.365.215-.694.62-.59a4.008 4.008 0 0 0 1.873.03c.288-.065.413-.386.321-.666A3.997 3.997 0 0 1 8 8.999c0-.585.126-1.14.351-1.641a.42.42 0 0 1 .503-.235Z" clip-rule="evenodd" />
                </svg>
            </span>
            <form action="/reserva" method="POST" class="md:grid grid-cols-3 md:space-y-0 space-y-4 gap-2 mt-16 px-10">
                {% for restaurante in restaurantes[:3] %}
                <div class="bg-gray-200 shadow-md rounded-md overflow-hidden border hover:border-2 hover:border-red-800">
                    <label for="detalhes-{{restaurante[0]}}" href="{{url_for("reserva")}}" class="flex flex-col md:flex-row cursor-pointer">
                        <div class="p-4 w-full">
                            <span class="block font-semibold text-red-900 text-sm">NOVO</span>
                            <div class="flex flex-col md:flex-row justify-between items-center mt-3">
                                <span class="text-base text-gray-700 font-bold">{{restaurante[1]}}</span>
                            </div>
                            <p class="text-xs text-gray-800 mt-3">{{restaurante[2]}}</p>
                            <p class="text-xs text-gray-800 mt-5">{{restaurante[3]}}</p>
                        </div>
                        <img class="w-full h-48 object-cover" src="static/assets/main/image13.svg" alt="">
                    </label>
                    <input id="detalhes-{{restaurante[0]}}" name="detalhes" type="submit" value={{restaurante[0]}} class="hidden "/>
                </div>
                {%endfor%}
            </form>
        </section>
        <section>
            <span class="flex ml-24 mt-16 items-center text-gray-800 capitalize text-xl font-bold">
                restaurantes disponíveis
            </span>
            <h2 >
                <form action="/reserva" method="POST" class="grid md:grid-cols-4 grid-cols-2 gap-2 m-2 capitalize">
                    {%for restaurante in restaurantes%}
                        <label for="detalhes-{{restaurante[0]}}" class="bg-gray-100 mx-8 flex flex-col justify-center shadow-lg rounded-md cursor-pointer hover:border-2 border-gray-300">
                            <div class="flex flex-row">
                                <img src="static/assets/restaurantes/disponiveis/bellaPizza.svg" alt="bellaPizza" class="w-3/5"/>
                                <div class="flex flex-col ml-2">
                                    <p class="text-md font-semibold text-gray-700">{{restaurante[1]}}</p>
                                    <p class="text-xs font-normal text-gray-600 mt-2">Horário: 12:30 até 18:30</p>
                                    <p class="text-xs font-normal text-gray-600 mt-auto">mesas disponíveis: 5</p>
                                </div>                              
                            </div>
                        </label>
                        <input id="detalhes-{{restaurante[0]}}" name="detalhes" type="submit" value={{restaurante[0]}} class="hidden "/>
                    {%endfor%}
                <form/>
            </h2>
        </section>
    </main>
    <footer>
        {% include 'componentes/rodape.html' %}
    </footer>
    <script src="static/scripts/ResponsiveNavbar.js"></script>
</body>
</html>