<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Reserva</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="static/scripts/Formatar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-white">
    <div class="flex flex-col">
        <div>
            <img class="w-full" src="static/assets/TelaDeFundo.png" alt="Tela de Fundo">
        </div>
        <div class="flex items-center justify-center px-4 sm:px-8 lg:px-12 w-full">
            <div class="flex flex-col w-full max-w-4xl bg-white p-4 rounded-md">
                <a href="{{url_for('reserva')}}" class="flex justify-end">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="1.5" stroke="currentColor" class="w-6 h-6">
                        <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </a>
                <form class="flex flex-col" action="/cadastrarReserva" method="post">
                    {% for restaurante in restaurantes%}
                        <input type="text" class="hidden" name="restaurante_id" value={{ restaurante[0]}}>
                    {% endfor %}
                    
                    <div class="flex flex-col mb-4">
                        <label for="nome_cli" class="font-medium text-gray-700">Nome</label>
                         <input
                             id="nome_cli"
                             type="text"
                             name="nome_cli"
                             class="bg-gray-200 px-4 py-2 rounded-md text-gray-500 w-full"
                             placeholder="Digite seu nome"
                             required
                         />
                     </div>
                     <div class="flex flex-col mb-4">
                        <label for="tel_cliente" class="font-medium text-gray-700">Telefone para contato</label>
                        <input
                            id="tel" 
                            type="tel"
                            name="tel_cliente"   
                            class="bg-gray-200 px-4 py-2 rounded-md text-gray-500 w-full"
                            placeholder="(69) 9 9999-9999" 
                            required
                        />
                            <span id="tel-error" class="text-red-500 text-sm"></span>
                     </div>
                    <div class="flex flex-col mb-4">
                       <label for="num_pessoas" class="font-medium text-gray-700">Pessoas</label>
                        <input
                            id="num_pessoas"
                            type="number"
                            name="num_pessoas"
                            class="bg-gray-200 px-4 py-2 rounded-md text-gray-500 w-full"
                            placeholder="Escolha a quantidade de pessoas"
                            required
                        />
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="data" class="font-medium text-gray-700">Data</label>
                        <input
                            id="data"
                            type="date"
                            name="data"
                            class="bg-gray-200 px-4 py-2 rounded-md text-gray-500 w-full"
                            placeholder="Escolha a data da reserva"
                            required
                        />
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="horario" class="font-medium text-gray-700">Horário</label>
                        <input
                            id="horario"
                            type="time"
                            name="horario"
                            class="bg-gray-200 px-4 py-2 rounded-md text-gray-500 w-full"
                            placeholder="Escolha o horário de sua reserva"
                            required
                        />
                    </div>
                    <button class="flex items-center justify-center cursor-pointer" type="submit">
                        <div class="flex mt-6 w-full bg-red-500 rounded-md text-white px-4 py-2 justify-center">
                            <h1 class="text-xl">Finalizar reserva</h1>
                        </div>
                    </button>
                </form>
                </div>
        </div>
    </div>
</body>
</html>
