<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Restaurante</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="static/scripts/ExcluirRestaurante.js"></script>
</head>

<body>
    <header>
        {% include 'componentes/navbarRestaurante.html' %}
    </header>
    {% for restaurante in restaurantes  %}
    <form id="results" action="/atualizarRestaurante" method="POST" class="flex min-h-screen justify-center items-center flex-col ">
        <div class="flex flex-row justify-between bg-gray-200 w-4/5 xl:w-3/5 p-2 rounded-t-lg">
            <h1 class="ml-2 font-bold text-gray-700 text-base">Editar restaurante</h1>
            
            <a href="#" onclick="confirmDelete({{ restaurante[0] }})">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                    stroke="currentColor" class="size-6 text-red-500 cursor-pointer w-6">
                    <path strokeLinecap="round" strokeLinejoin="round"
                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
            </a>            
        </div>
        <div class="flex flex-col bg-gray-100 w-4/5 xl:w-3/5 p-2">
            <div>
                <div class="text-gray-700 text-base font-medium mt-4 w-full h-6 border-b border-gray-300 border-dashed">
                    <h1 class="ml-2">Editar visual do restaurante</h1>
                </div>
                <div class="flex flex-col md:flex-row mt-2 items-center justify-between gap-8 px-8">
                    <div class="flex flex-col items-center">
                        <div class="flex items-center justify-center rounded-full bg-gray-400">
                            <img class="w-24 h-24 rounded-full object-cover" src="static/assets/main/image13.svg"
                                alt="">
                        </div>
                        <button class="mt-2 text-white bg-orange-400 rounded-md px-4">
                            Alterar foto
                        </button>
                    </div>
                    <div class="flex flex-col items-center mt-4 md:ml-4">
                        <div class="flex flex-row gap-2">
                            <div class="flex items-center justify-center rounded-md w-24 h-24 bg-gray-400">
                                <img class="w-24 h-24 object-cover rounded-md" src="static/assets/main/image13.svg"
                                    alt="">
                            </div>
                            <div class="flex items-center justify-center rounded-md w-24 h-24 bg-gray-400">
                                <img class="w-24 h-24 rounded-md object-cover" src="static/assets/main/image13.svg"
                                    alt="">
                            </div>
                            <div class="flex items-center justify-center rounded-md w-24 h-24 bg-gray-400">
                                <img class="w-24 h-24 rounded-md object-cover" src="static/assets/main/image13.svg"
                                    alt="">
                            </div>
                        </div>
                        <button class="mt-2 text-white bg-orange-400 rounded-md px-4">
                            Alterar foto
                        </button>
                    </div>
                    <div class="flex flex-col mt-4 md:ml-4 ">
                        <div class="flex flex-col">
                            <label for="nome" class="font-medium text-gray-700">Alterar nome</label>
                            <input id="nome" name="nome" value="{{restaurante[1]}}" type="text" class="bg-white px-4 border border-gray-300 rounded text-gray-500 w-full"/>
                        </div>
                        <div class="flex flex-col mb-2 mt-4">
                            <label for="dono" class="font-medium text-gray-700">Alterar dono</label>
                            <input id="dono" name="dono" type="text" class="bg-white px-4 border border-gray-300 rounded text-gray-500 w-full" value="{{restaurante[2]}}"/>
                        </div>
                        <div class="flex flex-col mb-2">
                            <label for="descricao" class="font-medium text-gray-700">Alterar descrição</label>
                            <input name="descricao" id="descricao" class="bg-white px-2 py-2 border border-gray-300 rounded text-gray-500 w-full" value="{{restaurante[3]}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-col">
                    <div
                        class="text-gray-700 text-base font-medium mt-4 w-full h-6 border-b border-gray-300 border-dashed">
                        <h1 class="ml-2">Editar informações do restaurante</h1>
                    </div>
                    <div class="flex flex-col sm:flex-row gap-8 justify-between px-8">
                        <div class="flex flex-col mt-4">
                            <h1 class="text-center">Endereço</h1>
                            <label for="rua" class="text-gray-700">Rua</label>
                            <input id="rua" name="rua" type="text" class="bg-white px-4 border border-gray-300 rounded text-gray-500 w-full" value="{{restaurante[4]}}"/>
                            <label for="bairro" class="text-gray-700 mt-2">Bairro</label>
                            <input id="bairro" name="bairro" type="text" class="bg-white px-4 border border-gray-300 rounded text-gray-500 w-full" value="{{restaurante[5]}}"/>
                            <label for="numero" class="text-gray-700 mt-2">Número</label>
                            <input id="numero" name="numero" type="number" class="bg-white border border-gray-300 rounded text-gray-500 w-2/4" value="{{restaurante[6]}}"/>
                        </div>
                        <div class="flex flex-col mt-4">
                            <h1 class="text-center">Contato</h1>
                            <label for="email" class="text-gray-700">Email</label>
                            <input id="email" name="email" type="email"
                                class="bg-white px-4 border border-gray-300 rounded text-gray-500 w-full" value="{{restaurante[7]}}"/>
                            <label for="telefone" class="text-gray-700 mt-2">Telefone</label>
                            <input id="telefone" name="telefone" type="text" class="bg-white px-4 border border-gray-300 rounded text-gray-500 w-full" value="{{restaurante[8]}}"/>
                        </div>
                        <div class="flex flex-col mt-4 items-center gap-4">
                            <div class="flex flex-col items-center text-center">
                                <h1 class="text-center">Alterar horários de funcinamento</h1>
                                <div class="flex flex-row items-center gap-2">
                                    <input type="time"
                                        class="bg-white border border-gray-300 rounded text-gray-500 w-18"
                                        placeholder="" />
                                    <h1>às</h1>
                                    <input type="time"
                                        class="bg-white border border-gray-300 rounded text-gray-500 w-18"
                                        placeholder="" />
                                </div>
                            </div>
                            <div class="flex flex-col items-center">
                                <h1>Grade semanal</h1>
                                <input type="week" class="bg-white border border-gray-300 rounded text-gray-500 w-3/4"
                                    placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-end gap-4 bg-gray-200 w-4/5 xl:w-3/5 p-2 rounded-b-lg items-end">
            <button
                class="ml-2 font-semibold text-orange-400 rounded-md bg-white border border-orange-400 text-base px-2 ">Cancelar</button>
            <button
                class="ml-2 font-semibold bg-orange-400 text-white rounded-md border border-orange-400 text-base px-2">Salvar
                tudo</button>
        </div>
    </form>
    {% endfor %}
    <div class="flex justify-center items-center mt-4 gap-2">
        {% if pagina > 1 %}
        <a href="?pagina={{ pagina - 1 }}" class="px-4 py-2 bg-gray-300 rounded-md">Anterior</a>
        {% endif %}

        {% for p in range(1, total_paginas + 1) %}
        <a href="?pagina={{ p }}" class="px-4 py-2 rounded-md {% if p == pagina %}bg-orange-400 text-white{% else %}bg-gray-300{% endif %}">
            {{ p }}
        </a>
        {% endfor %}

        {% if pagina < total_paginas %}
        <a href="?pagina={{ pagina + 1 }}" class="px-4 py-2 bg-gray-300 rounded-md">Próximo</a>
        {% endif %}
    </div>
    <script src="static/scripts/ResponsiveNavbar.js"></script>
</body>

</html>