<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/styles/output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing-Page</title>
    <meta name="description" content="Descrição">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="bg-white">
    <header>
        <nav class="text-amber-700 ml-10 container flex flex-row space-x-10 items-center justify-between px-20 py-4">
            <a href="{{url_for("cadastroRestaurante")}}" class="hover:text-amber-800 font-semibold border-2 border-amber-700 px-2 rounded-md">Não possui uma Conta?</a> 
        </nav>
    </header>
    <main>
        <div class="bg-gray-100">
            <section class="container max-w-6xl h-3/4 flex flex-row justify-between gap-24 py-10 px-8 m-auto items-center">
                <header class="ml-10">
                    <span class="text-amber-700 font-normal">Controle seu restaurante</span>
                    <h1 class="text-gray-700 text-2xl font-semibold">Bem vindo de volta!</h1>
                    <hr>
                    <h2 class="text-base text-gray-700 font-inter font-thin">Faça login para agendar sua reserva</h2>
                    <form class="text-gray-600 flex flex-col font-intel py-5" action="/autenticarGerente" method="POST">
                        <label for="email">Email</label>
                        <input class="text-black mt-1 p-2 rounded-3xl border-none text-base" type="email" name="email" required placeholder="Digite seu email">

                        <label for="Senha">Senha</label>
                        <input class="text-black mt-1 p-2 rounded-3xl border-none text-base" type="password" name="senha" required placeholder="Digite sua senha">
                        
                        <input class="text-white mt-2 p-2 rounded-3xl border-none text-base bg-[#A45A49] w-3/5 m-auto font-bold hover:bg-amber-800 cursor-pointer" type="submit" class="registrar-btn" value="Entrar" >
                        {% set mensagem = get_flashed_messages()%}
                        {% if mensagem %}
                        <div class="flex flex-coltext-red-600 font-bold m-auto">
                            {{mensagem[0]}}
                        </div>
                        {% endif %}
                    </form>
                    
                </header>
                
                <div class="columns-3 space-y-1">
                    <figure><img src="static/assets/main/image1.png" alt="image1"></figure>
                    <figure><img src="static/assets/main/image2.png" alt="image2"></figure>
                    <figure><img src="static/assets/main/image3.png" alt="image3"></figure>
                    <figure><img src="static/assets/main/image4.png" alt="image4"></figure>
                    <figure><img src="static/assets/main/image5.png" alt="image5"></figure>
                    <figure><img src="static/assets/main/image6.png" alt="image6"></figure>
                    <figure><img src="static/assets/main/image10.png" alt="image10"></figure>
                    <figure><img src="static/assets/main/image11.png" alt="image11"></figure>
                    <figure><img src="static/assets/main/image12.png" alt="image12"></figure>  
                </div>
               
            </section>
        </div>
    </main>
    <footer class="absolute bottom-0 w-full p-16 flex flex-col items-center gap-2">
        {% include 'componentes/rodape.html' %}
    </footer>
</body>
</html>