<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Restaurante</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="static/scripts/upload.js"></script>
    <script src="static/scripts/Formatar.js"></script>
</head>
<header>
   {% include 'componentes/navbar.html' %}
</header>
<body>
    <form action="/reservasCadastradas" method="post" class="flex min-h-screen flex-col ">
       <div class="flex flex-col">
        <div>
            <div class="mt-20 ml-4 border-dashed border-b border-gray-600">
                <h1 class="text-2xl text-gray-700 font-medium">Aqui estão as reservas de suas clientes</h1>
            </div>
            <form action="/reserva" method="post">
                
                {% for reserva in id_restaurante %}
                <div class="flex flex-row">
                    <label for="detalhes-{{reserva[0]}}  href="{{url_for("reserva")}}"" class="">
                        <button class="flex flex-col mt-2 ml-4 border border-gray-100 bg-gray-50 p-2 rounded-md w-1/5 shadow-xl text-xs">
                            <h1 class="text-orange-500 font-semibold">{{reserva[1]}}</h1>
                            <h1 class="text-gray-700 font-normal">Número de pessoas: {{reserva[2]}}</h1>
                            <h1 class="text-gray-700 font-normal">Número da(s) mesa(s): </h1>
                            <h1 class="text-gray-700 font-normal">Quantidade de mesas:</h1>
                        </button>
                    </label>
                </div>
                {%endfor%}

            </form>
        </div>
        

        <div class="mt-20 ml-4 border-dashed border-b border-gray-600">
            <h1 class="text-2xl text-gray-700 font-medium mt-2">Reservas canceladas</h1>
        </div>
       </div> 
    </form>
</body>

</html>