<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/output.css">
    <title>Equipe - Reserva</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-[#1F1517] text-white">
    <header>
        {% include 'componentes/navbarLandingPage.html' %}
    </header>
    <main class="flex flex-col 2xl:mt-24">
        <section class="max-w-6xl h-1/5 flex flex-row gap-24 py-0 px-8 overflow-clip items-center max-lg:py-20">
            <header class="m-auto">
                <span class="text-[#A45A49] text-base uppercase marrom font-epilogue">Equipe</span>
                <h1 class="text-4xl font-montserrat font-bold max-sm:text-2xl">Confira os autores do projeto:</h1>
                <h2 class="max-sm:hidden">Dê uma olhada nos membros de nossa aquipe!</h2>
            </header>
        </section>
        <section>
            <div class="max-w-6xl m-auto flex flex-wrap justify-center max-sm:flex-col max-sm:items-center">
                <figure class="w-1/4 mb-10 text-center bg-gray-200 py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Abner.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Abner de Oliveira</span>
                    <span class="block mt-3 text-base text-gray-600 text-center font-inter font-normal">Analista de requisitos</span>
                </figure>
                <figure class="w-1/4 mb-10 text-center bg-gray-200 py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Deny.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Deny Martins</span>
                    <span class="block mt-3 text-base text-gray-600 text-center font-inter font-normal">Desenvolvedor Front-End</span>
                </figure>
                <figure class="w-1/4 mb-10 text-center bg-gray-200 py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Felipe.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Felipe Costa</span>
                    <span class="block mt-3 text-base text-gray-600 text-center font-inter font-normal">Desenvolvedor Fullstack</span>
                </figure>
                <figure class="w-1/4 mb-10 text-center bg-gray-200 py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Renan.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Renan Neponuceno</span>
                    <span class="block mt-3 text-base text-gray-600 text-center font-inter font-normal">Analista Do Banco de Dados</span>
                </figure>
                <figure class="w-1/4 mb-10 text-center bg-gray-200 py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Stefano.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Stefano Mendonça</span>
                    <span class="block mt-3 text-base text-gray-600 text-center font-inter font-normal">Analista do Banco de Dados</span>
                </figure>
            </div>
        </section>
    </main>
    <footer>
        {% include 'componentes/rodape.html' %}
    </footer>
    <script src="static/scripts/ResponsiveNavbar.js"></script>
</body>
</html>