<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/styles/output.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing-Page</title>
    <meta name="description" content="Descrição">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>
<body class="bg-[#1F1517] ">
    <header>
        {% include 'componentes/navbarLandingPage.html' %}
    </header>
    <main>
        <div class="bg-[#181012]">
            <section class="container max-w-6xl h-3/4 flex flex-row justify-between gap-24 py-10 px-8 m-auto items-center max-xl:max-w-md  max-md:h-full max-md:flex max-md:flex-row max-md:justify-between max-md:gap-1 max-md:py-5 max-md:px-8 max-md:m-auto max-md:items-center">
                <header class="ml-10 max-md:inline-block max-md:flex-column max-md:text-xs">
                    <span class="text-[#A45A49] text-base font-epilogue">AGENDE SEU HORÁRIO</span>
                    <h1 class="text-white font-montserrat">Faça Seu Registro!</h1>
                    <hr>
                    <h2 class="text-base text-white font-inter font-thin">Registre-se para agendar sua reserva</h2>

                    <form class="text-white flex flex-col font-intel py-5" action="/cadastrarUsuario" method="POST">
                        <label for="username">Email</label>
                        <input class="text-black mt-1 p-2 rounded-md border-none text-base" type="email" name="email"  placeholder="Digite seu email">
                        <label for="username">Senha</label>
                        <input class="text-black mt-1 p-2 rounded-md border-none text-base" type="password" name="senha" placeholder="Digite sua senha">
                        <input class="text-black hover:text-gray-300 mt-2 p-2 rounded-md border-none text-base bg-[#A45A49] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer" type="submit" class="text-white w-3/5 m-auto mt-2.5 font-bold" value="Registrar" >
                        {% set mensagem = get_flashed_messages()%}
                        {% if mensagem %}
                        <div class="text-red-600 font-bold m-auto">
                            {{mensagem[0]}}
                        </div>
                        {% endif %}
                    </form>
                </header>
                
                <div class="columns-3 space-y-1 max-lg:hidden">
                    <figure><img src="static/assets/main/image1.png" alt="image1"></figure>
                    <figure><img src="static/assets/main/image2.png" alt="image2"></figure>
                    <figure><img src="static/assets/main/image3.png" alt="image3"></figure>
                    <figure><img src="static/assets/main/image4.png" alt="image4"></figure>
                    <figure><img src="static/assets/main/image5.png" alt="image5"></figure>
                    <figure><img src="static/assets/main/image6.png" alt="image6"></figure>
                    <figure><img src="static/assets/main/image10.png" alt="image10"></figure>
                    <figure><img src="static/assets/main/image11.png" alt="image11"></figure>
                    <figure><img src="static/assets/main/image12.png" alt="image12"></figure>  
                </div>
               
            </section>
        </div>
        <section class="flex flex-col max-w-6xl py-8 px-4 m-auto">
            <header class="flex flex-col gap-2">
                <h2 class="text-3xl text-[#FFF2E7] font-montserrat-bold">Descrição do projeto</h2>
                <p class="text-base text-[#C7BAB3] font-inter-regular">Aqui estão algumas informações de nosso projeto</p>
            </header>

            <div class="py-0 text-justify flex flex-col flex-wrap justify-between max-md:p-4 max-md:block max-md:flex-row max-md:flex-wrap max-md:gap-8 max-md:justify-between">
                <div class="bg-[#241A1C] p-8 rounded-lg flex flex-col gap-8  mt-8">
                    <header class="flex flex-row justify-between items-center">
                        <div class="flex flex-col">
                            <span class="text-base uppercase text-[#E7A80E] max-md:text-sm">desafio</span>
                            <h3 class="text-3xl text-[#FFF2E7] font-montserrat-bold max-md:text-lg">Problemática</h3>
                        </div>
                        <p class="text-[#756A67] text-basic font-inter-semibold"> 1/2 </p>
                    </header>
                    <p class="text-[#C7BAB3] text-xl text-justify max-md:text-lg">Identificamos que os restaurantes enfrentam desafios significativos na gestão de reservas de mesas, especialmente devido aos processos manuais conduzidos pelos funcionários do estabelecimento. Esses métodos podem ser excessivamente burocráticos e demorados, prejudicando a eficiência operacional e a experiência do cliente.
                    </p>
                </div>
                <div class="bg-[#241A1C] p-8 rounded-lg flex flex-col gap-8  mt-8">
                    <header class="flex flex-row justify-between items-center">
                        <div class="flex flex-col ">
                            <span class="text-base uppercase text-[#E7A80E] max-md:text-sm">Como resolver?</span>
                            <h3 class="text-3xl text-[#FFF2E7] font-montserrat-bold max-md:text-lg">Solução</h3>
                        </div>
                        <p class="text-[#756A67] text-base font-inter-semibold">2/2 </p>
                    </header>
                    <p class="text-[#C7BAB3] text-xl text-justify max-md:text-lg">Optamos por criar esta plataforma online para abordar as lacunas na administração de reservas de mesas em restaurantes, permitindo uma interação totalmente digital entre os clientes e o estabelecimento. Nosso propósito é simplificar e acelerar significativamente o processo de reserva.</p>
                    
                </div>
                
            </div>
        </section>
    </main>
    <footer>
        {% include 'componentes/rodape.html' %}
    </footer>
    <script src="static/scripts/ResponsiveNavbar.js"></script>


</body>
</html>