<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/styles/output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing-Page</title>
    <meta name="description" content="Descrição">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="bg-[#1F1517] ">
    <header>
        {% include 'componentes/navbarLandingPage.html' %}
    </header>
    <main  class="flex flex-col 2xl:mt-16 items-center max-lg:mt-20">
        <h1 class="font-inter font-bold text-3xl text-white mt-4 text-center">Modelo Entidade Relacional (MER)</h1>
        <div class="border-4 border-[#302225] rounded-lg mt-10 p-10 max-lg:p-4 max-md:border-none max-md:mt-0">
            <img class="h-[60vh] max-md:w-screen" src="static/assets/diagrama.svg" alt="">
        </div>
    </main>
    <footer>
        {% include 'componentes/rodape.html' %}
    </footer>
    <script src="static/scripts/ResponsiveNavbar.js"></script>
</body>