<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Restaurante</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="flex min-h-screen justify-center items-center flex-col">
        <div class="flex bg-gray-200 w-3/5 rounded-t-lg ">
            <h1 class="ml-2 font-bold text-gray-700 text-base">Editar restaurante</h1>
        </div>
        <div class="flex flex-col bg-gray-100 w-3/5 h-full">
            <div>
                <div class="text-gray-700 text-base font-medium mt-4 w-full h-6 border-b border-gray-300 border-dashed">
                    <h1 class="ml-2">Editar visual do restaurante</h1>
                </div>
                <div class="flex flex-row ">
                    <div class="flex flex-col items-center mt-2 ml-10">
                        <div class="flex items-center justify-center rounded-full w-24 h-24 bg-gray-400">
                            <div>
                                Foto
                            </div>                        
                        </div>
                        <button class="mt-2 text-white bg-orange-400 rounded-md px-4">
                            Alterar foto
                        </button>
                    </div>
                    <div class="flex flex-col items-center ml-24 mt-2">
                        <div class="flex flex-row gap-2">
                            <div class="flex flex-row items-center justify-center rounded-md w-24 h-24 bg-gray-400">
                                Foto                      
                            </div>
                            <div class="flex flex-row items-center justify-center rounded-md w-24 h-24 bg-gray-400">
                                Foto                      
                            </div>
                            <div class="flex flex-row items-center justify-center rounded-md w-24 h-24 bg-gray-400">
                                Foto                      
                            </div>
                        </div>                    
                        <button class="mt-2 text-white bg-orange-400 rounded-md px-4">
                                Alterar foto
                        </button>                   
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col ml-24">
                            <label for="" class="font-medium text-gray-700">Alterar nome</label>
                            <input
                                id=""
                                type=""
                                name=""
                                class="bg-white px-24 border border-gray-300 rounded text-gray-500 w-full"
                                placeholder=""
                            />
                        </div>
                        <div class="flex flex-col mb-2 ml-24">
                            <label for="" class="font-medium text-gray-700">Alterar dono</label>
                            <input
                                id=""
                                type=""
                                name=""
                                class="bg-white px-24 border border-gray-300 rounded text-gray-500 w-full"
                                placeholder=""
                            />
                        </div>
                        <div class="flex flex-col mb-2 ml-24">
                            <label for="" class="font-medium text-gray-700">Alterar descrição</label>
                            <input
                                id=""
                                type=""
                                name=""
                                class="bg-white px-2 py-2 border border-gray-300 rounded text-gray-500 w-full"
                                placeholder=""
                            />
                        </div>                
                    </div>           
                </div>
            </div>
            <div>
                <div>
                    <div class="text-gray-700 text-base font-medium mt-4 w-full h-6 border-b border-gray-300 border-dashed">
                        <h1 class="ml-2">Editar visual do restaurante</h1>
                    </div>
                    <div class="flex flex-col">
                       
                        <div class="flex flex-col">
                            <h1 class="text-center">Endereço</h1>
                            <div class="flex flex-col ml-2">
                                <label for="" class="text-gray-700">Rua</label>
                                <input
                                    id=""
                                    type=""
                                    name=""
                                    class="bg-white px-24 border border-gray-300 rounded text-gray-500 w-10"
                                    placeholder=""
                                />
                            </div>
                            <div class="flex flex-col mb-2 ml-2">
                                <label for="" class="text-gray-700">Bairro</label>
                                <input
                                    id=""
                                    type=""
                                    name=""
                                    class="bg-white px-24 border border-gray-300 rounded text-gray-500 w-10"
                                    placeholder=""
                                />
                            </div>             
                        </div>
                    </div>           
                </div>
            </div>
        </div>
    </div>
</body>
</html>