<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/output.css">
    <title>Equipe - Reserva</title>
</head>
<body class="bg-[#1F1517] text-white">
    <header>
        <nav class="text-white m-auto container flex flex-row space-x-10 items-center justify-between px-20 py-4 max-md:flex-col max-md:text-sm max-md:items-end max-md:-mr-12 max-md:py-1 max-lg:px-0 max-md:px-14 max-lg:space-x-3 max-lg:text-sm">
            <span class="font-teko-semibold text-3xl max-md:hidden items-center max-lg:hidden">LANDING-PAGE</span>
            <ul class="flex flex-row space-x-10 max-md:hidden ">
                <li class=" hover:text-[#A45A49] font-bold"><a href="{{url_for("index")}}">Home</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("equipe") }}">Quem Somos?</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{url_for("modelos")}}">Modelos</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="">Melhor Avaliados</a></li>
            </ul>
            <a href="{{url_for("login")}}" class="hover:text-[#A45A49] font-bold border px-2 rounded-lg max-md:hidden">Já possui uma Conta?</a> 

            <div class="md:hidden">
                <button id="menubutton" type="" class="inline-flex hover:bg-[#A45A49] rounded-sm" aria-label="Menu" aria-expanded="false">
                    <img id="imagem" class=" h-7 w-7" src="static/assets/menu.svg" alt="">
                </button>
            </div>
        </nav>

        <nav id="menu" class="hidden text-white m-auto container flex-col space-x-10  justify-between py-1">
            <span class="font-teko-semibold text-3xl max-md:hidden">LANDING-PAGE</span>
            <ul class="flex flex-col items-center ">
                <li class=" hover:text-[#A45A49] font-bold"><a href="{{url_for("index")}}">Home</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("equipe") }}">Quem Somos?</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="">Modelos</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="">Melhor Avaliados</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{url_for("login")}}">Log in</a></li>
            </ul>
            
        </nav>
    </header>
    <main class="flex flex-col 2xl:mt-24">
        <section class="max-w-6xl h-1/5 flex flex-row gap-24 py-0 px-8 overflow-clip items-center max-lg:py-20">
            <header class="m-auto">
                <span class="text-[#A45A49] text-base uppercase marrom font-epilogue">Equipe</span>
                <h1 class="text-4xl font-montserrat font-bold max-sm:text-2xl">Confira os autores do projeto:</h1>
                <h2 class="max-sm:hidden">Dê uma olhada nos membros de nossa aquipe!</h2>
            </header>
        </section>
        <section>
            <div class="max-w-6xl m-auto flex flex-wrap justify-center max-sm:flex-col max-sm:items-center">
                <figure class="w-1/4 mb-10 text-center bg-[#241A1C] py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Abner.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Abner de Oliveira</span>
                    <span class="block mt-3 text-base text-[#C7BAB3] text-center font-inter font-normal">A definir</span>
                </figure>
                <figure class="w-1/4 mb-10 text-center bg-[#241A1C] py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Deny.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Deny Martins</span>
                    <span class="block mt-3 text-base text-[#C7BAB3] text-center font-inter font-normal">A definir</span>
                </figure>
                <figure class="w-1/4 mb-10 text-center bg-[#241A1C] py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Felipe.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Felipe Costa</span>
                    <span class="block mt-3 text-base text-[#C7BAB3] text-center font-inter font-normal">Desenvolvedor Fullstack</span>
                </figure>
                <figure class="w-1/4 mb-10 text-center bg-[#241A1C] py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Renan.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Renan Neponuceno</span>
                    <span class="block mt-3 text-base text-[#C7BAB3] text-center font-inter font-normal">A definir</span>
                </figure>
                <figure class="w-1/4 mb-10 text-center bg-[#241A1C] py-8 px-0 m-3 max-sm:w-3/4">
                    <img class="w-auto h-1/2 rounded-full justify-between block m-auto" src="static/assets/equipe/Stefano.svg" alt="">
                    <span class="block mt-3 text-xl font-montserrat font-bold">Stefano Mendonça</span>
                    <span class="block mt-3 text-base text-[#C7BAB3] text-center font-inter font-normal">A definir</span>
                </figure>
            </div>
        </section>
    </main>
    <footer class="md:absolute md:bottom-0 w-full p-16 flex flex-col items-center gap-2 bg-[#23181A]">
        <p class="text-[#FFF2E7] text-base font-inter-semibold">&copy;Copyright Tríade do café</p>
        <p class="text-[#6e6e6e] text-base">Feito por Felipe</p>
    </footer>
    <script>
        const btn = document.getElementById("menubutton")
        const menu = document.getElementById("menu")
        const Minhaimagem = document.getElementById("imagem")

        btn.addEventListener("click", () => {
            if(menu.classList.contains("hidden")){
                menu.classList.toggle("hidden")
                menu.classList.add("bg-tranparent")
                Minhaimagem.src="static/assets/cancel.svg"
            }else{
                menu.classList.add("hidden")
                imagem.src="static/assets/menu.svg"
            }
            
        })
    </script>
</body>
</html>