<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/Equipe.css">
    <title>Equipe - Reserva</title>
</head>
<body>
    <header>
        <nav>
            <span class="logo teko-semibold">Landing-Page</span>
            <ul class="menu">
                <li><a href="{{url_for("index")}}">Home</a></li>
                <li><a href="">Quem Somos?</a></li>
                <li><a href="">Novidades</a></li>
                <li><a href="">Melhor Avaliados</a></li>
            </ul>
            <a href="{{url_for("login")}}" class="possui-conta inter-semibold">Já possui uma Conta?</a> 
            
        </nav>
    </header>
    <main>
        <section class="hero-section">
            <header>
                <span class="destaque marrom epilogue-medium">EQUIPE</span>
                <h1 class="montserrat-extrabold">Confira os autores do projeto:</h1>
                <h2>Dê uma olhada em quem compõem nossa aquipe!</h2>
            </header>
        </section>
        <section>
            <div class="imagens-equipe">
                <figure>
                    <img src="static/assets/equipe/Abner.svg" alt="">
                    <span class="montserrat-bold">Abner de Oliveira</span>
                    <span class="funcao inter-regular">A definir</span>
                </figure>
                <figure>
                    <img src="static/assets/equipe/Deny.svg" alt="">
                    <span class="montserrat-bold">Deny Martins</span>
                    <span class="funcao inter-regular">A definir</span>
                </figure>
                <figure>
                    <img src="static/assets/equipe/Felipe.svg" alt="">
                    <span class="montserrat-bold">Felipe Costa</span>
                    <span class="funcao inter-regular">Desenvolvedor Fullstack</span>
                </figure>
                <figure>
                    <img src="static/assets/equipe/Renan.svg" alt="">
                    <span class="montserrat-bold">Renan Neponuceno</span>
                    <span class="funcao inter-regular">A definir</span>
                </figure>
                <figure>
                    <img src="static/assets/equipe/Stefano.svg" alt="">
                    <span class="montserrat-bold">Stefano Mendonça</span>
                    <span class="funcao inter-regular">A definir</span>
                </figure>
            </div>
            
        </section>
    </main>
</body>
</html>