<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/output.css">
    <title>Home - Reserva</title>
    <title>Landing-Page</title>
    <meta name="description" content="Descrição">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body class="bg-[#1F1517]">
    <header>
        <nav class=" bg-[#23181A] text-white m-auto flex flex-row space-x-10 items-center justify-between px-64 py-4 max-md:flex-col max-md:text-sm max-md:items-end max-md:-mr-12 max-md:py-1 max-lg:px-0 max-md:px-14 max-lg:space-x-3 max-lg:text-sm">
            
            <ul class="flex flex-row items-center space-x-10 max-md:hidden">
                <figure><img src="static/assets/logo.svg" alt="logo"></figure>
                <li class=" hover:text-[#A45A49] font-bold"><a href="{{url_for("home")}}">Home</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("novidades") }}">Novidades</a></li>
                
            </ul>
            <a href="{{url_for("logout")}}" class="hover:text-[#A45A49] font-bold border px-2 rounded-lg max-md:hidden">Sair</a> 
            <div class="md:hidden">
                <button id="menubutton" type="" class="inline-flex hover:bg-[#A45A49] rounded-sm" aria-label="Menu" aria-expanded="false">
                    <img id="imagem" class=" h-7 w-7" src="static/assets/menu.svg" alt="">
                </button>
            </div>

        </nav>
        <!-- navbar p/mobile -->
        <nav id="menu" class="hidden text-white m-auto container flex-col space-x-10 py-1">
            <ul class="flex flex-col items-center">
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("home") }}">home</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("novidades") }}">Novidades</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("logout") }}">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="mt-16 flex justify-center">
            <div class="flex relative justify-center">
                <input type="text" placeholder="Buscar por restaurantes" class="w-96 bg-[#23181A] text-white pl-10 pr-4 py-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-yellow-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
            </div>
        </section>
        <section>
            <span class="flex ml-24 mt-24 items-center text-yellow-500 uppercase text-xl">
                em alta
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-6 text-orange-600">
                  <path fill-rule="evenodd" d="M8.074.945A4.993 4.993 0 0 0 6 5v.032c.004.6.114 1.176.311 1.709.16.428-.204.91-.61.7a5.023 5.023 0 0 1-1.868-1.677c-.202-.304-.648-.363-.848-.058a6 6 0 1 0 8.017-1.901l-.004-.007a4.98 4.98 0 0 1-2.18-2.574c-.116-.31-.477-.472-.744-.28Zm.78 6.178a3.001 3.001 0 1 1-3.473 4.341c-.205-.365.215-.694.62-.59a4.008 4.008 0 0 0 1.873.03c.288-.065.413-.386.321-.666A3.997 3.997 0 0 1 8 8.999c0-.585.126-1.14.351-1.641a.42.42 0 0 1 .503-.235Z" clip-rule="evenodd" />
                </svg>
            </span>

            <h2 class="md:grid grid-cols-3 space-y-8 gap-2 mt-16 px-10">
                <div class="bg-[#241A1C] rounded-md overflow-hidden">
                    <a href="{{url_for("reserva")}}" class="flex flex-col md:flex-row hover:border-2 border-yellow-500">
                        <div class="p-4 w-full">
                            <span class="block text-[#A45A49] text-sm">NOVO</span>
                            <div class="flex flex-col md:flex-row justify-between items-center mt-3">
                                <span class="text-base text-white font-bold">A Casa do Porco</span>
                            </div>
                            <p class="md:text-xs text-base text-[#756A67] mt-3">Em 2015 os chefs Janaína e Jefferson Rueda alçaram um novo vôo...</p>
                            <p class="md:text-xs text-base text-[#756A67] mt-5">Janaína e Jefferson Rueda</p>
                        </div>
                        <img class="w-full h-48 object-cover" src="static/assets/main/image13.svg" alt="">
                    </a>
                </div>
                <div class="bg-[#241A1C] rounded-md overflow-hidden">
                    <a href="{{url_for("reserva")}}" class="flex flex-col md:flex-row hover:border-2 border-yellow-500">
                        <div class="p-4 w-full">
                            <span class="block text-[#A45A49] text-sm">NOVO</span>
                            <div class="flex flex-col md:flex-row justify-between items-center mt-3">
                                <span class="text-base text-white font-bold">Maní</span>
                            </div>
                            <p class="md:text-xs text-base text-[#756A67] mt-3">Comida brasileira, autoral, orgânica (sempre que possível!)...</p>
                            <p class="md:text-xs text-base text-[#756A67] mt-5">Helena Rizzo e Willem Vandeven</p>
                        </div>
                        <img class="w-full h-48 object-cover" src="static/assets/main/image14.svg" alt="">
                    </a>
                </div>
                <div class="bg-[#241A1C] rounded-md overflow-hidden">
                    <a href="{{url_for("reserva")}}" class="flex flex-col md:flex-row hover:border-2 border-yellow-500">
                        <div class="p-4 w-full">
                            <span class="block text-[#A45A49] text-sm">NOVO</span>
                            <div class="flex flex-col md:flex-row justify-between items-center mt-3">
                                <div class="flex flex-row">
                                    <span class="text-base text-white font-bold">Jun Sakamoto</span> 
                                </div>
                            </div>
                            <p class="md:text-xs text-base text-[#756A67] mt-3">O renomado chef Jun Sakamoto cria pratos elaborados...</p>
                            <p class="md:text-xs text-base text-[#756A67] mt-5">Jun</p>
                        </div>
                        <img class="w-full h-48 object-cover" src="static/assets/main/image15.svg" alt="">
                    </a>
                </div>
            </h2>
        </section>
        <section>
            <span class="flex ml-24 mt-16 items-center text-white capitalize text-xl font-bold">
                restaurantes disponíveis
            </span>
            <h2 >
                <form action="/reserva" method="GET" class="grid md:grid-cols-4 grid-cols-2 gap-2 m-2 capitalize">
                    <label for="detalhes" class="bg-[#241A1C] flex flex-col justify-center p-4 cursor-pointer hover:border-2 border-yellow-500">
                        <img src="static/assets/restaurantes/disponiveis/bellaPizza.svg" alt="bellaPizza"/>
                        <p class="text-sm text-yellow-500">bella pizza
                        </p>
                        <p class="text-xs text-white">pizzaria
                        </p>
                        <p class="text-xs text-gray-500">3.95 km
                        </p>
                    </label>
                    <input id="detalhes" name="detalhes" type="submit"  class="hidden text-black mt-2 rounded-3xl border-none text-base bg-[#070707] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer"/>
                    </div>
                
                    <label for="detalhes" class="bg-[#241A1C] flex flex-col justify-center p-4 cursor-pointer hover:border-2 border-yellow-500">
                        <img src="static/assets/restaurantes/disponiveis/boiNaBrasa.svg" alt=""/>
                        <p class="text-sm text-yellow-500">boi na brasa</p>
                        <p class="text-xs text-white">restaurante</p>
                        <p class="text-xs text-gray-500">3.87 km</p>
                    </label>
                    <input id="detalhes" name="detalhes" type="submit"  class="hidden text-black mt-2 rounded-3xl border-none text-base bg-[#070707] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer"/>
                    <label for="detalhes" class="bg-[#241A1C] flex flex-col justify-center p-4 cursor-pointer hover:border-2 border-yellow-500">
                        <img src="static/assets/restaurantes/disponiveis/bomPrato.svg" alt=""/>
                        <p class="text-sm text-yellow-500">bom prato</p>
                        <p class="text-xs text-white">restaurante</p>
                        <p class="text-xs text-gray-500">7.54 km</p>
                    </label>
                    <input id="detalhes" name="detalhes" type="submit"  class="hidden text-black mt-2 rounded-3xl border-none text-base bg-[#070707] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer"/>
                
                    <label for="detalhes" class="bg-[#241A1C] flex flex-col justify-center p-4 cursor-pointer hover:border-2 border-yellow-500">
                        <img src="static/assets/restaurantes/disponiveis/restauranteDaFamilia.svg" alt=""/>
                        <p class="text-sm text-yellow-500">restaurante da família</p>
                        <p class="text-xs text-white">restaurante</p>
                        <p class="text-xs text-gray-500">1.25 km</p>
                    </label>
                    <input id="detalhes" name="detalhes" type="submit"  class="hidden text-black mt-2 rounded-3xl border-none text-base bg-[#070707] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer"/>

                    <label for="detalhes" class="bg-[#241A1C] flex flex-col justify-center p-4 cursor-pointer hover:border-2 border-yellow-500">
                        <img src="static/assets/restaurantes/disponiveis/restauranteIgarape.svg" alt=""/>
                        <p class="text-sm text-yellow-500">restaurante igarapé</p>
                        <p class="text-xs text-white">restaurante</p>
                        <p class="text-xs text-gray-500">2.96 km</p>
                    </label>
                    <input id="detalhes" name="detalhes" type="submit"  class="hidden text-black mt-2 rounded-3xl border-none text-base bg-[#070707] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer"/>

                    <label for="detalhes" class="bg-[#241A1C] flex flex-col justify-center p-4 cursor-pointer hover:border-2 border-yellow-500">
                        <img src="static/assets/restaurantes/disponiveis/restauranteMacaxeira.svg" alt=""/>
                        <p class="text-sm text-yellow-500">restaurante macaxeira</p>
                        <p class="text-xs text-white">restaurante</p>
                        <p class="text-xs text-gray-500">4.55 km</p>
                    </label>
                    <input id="detalhes" name="detalhes" type="submit"  class="hidden text-black mt-2 rounded-3xl border-none text-base bg-[#070707] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer"/>

                    <label for="detalhes" class="bg-[#241A1C] flex flex-col justify-center p-4 cursor-pointer hover:border-2 border-yellow-500">
                        <img src="static/assets/restaurantes/disponiveis/pescadorRestaurante.svg" alt=""/>
                        <p class="text-sm text-yellow-500">pescador restaurante</p>
                        <p class="text-xs text-white">restaurante</p>
                        <p class="text-xs text-gray-500">5.75 km</p>
                    </label>
                    <input id="detalhes" name="detalhes" type="submit"  class="hidden text-black mt-2 rounded-3xl border-none text-base bg-[#070707] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer"/>

                    <label for="detalhes" class="bg-[#241A1C] flex flex-col justify-center p-4 cursor-pointer hover:border-2 border-yellow-500">
                        <img src="static/assets/restaurantes/disponiveis/restauranteNorteSul.svg" alt=""/>
                        <p class="text-sm text-yellow-500">restaurante norte sul</p>
                        <p class="text-xs text-white">restaurante</p>
                        <p class="text-xs text-gray-500">8.01 km</p>
                    </label>
                    <input id="detalhes" name="detalhes" type="submit"  class="hidden text-black mt-2 rounded-3xl border-none text-base bg-[#070707] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer"/>

                <form/>
            </h2>
        </section>
    </main>
    <footer class="mt-24 bottom-0 w-full p-16 flex flex-col items-center gap-2 bg-[#23181A]">
        <p class="text-[#FFF2E7] text-base font-inter-semibold">&copy;Copyright Tríade do café</p>
        <p class="text-[#6e6e6e] text-base">Feito por Felipe</p>
    </footer>
    <script src="static/scripts/ResponsiveNavbar.js"></script>
</body>
</html>