<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/styles/output.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing-Page</title>
    <meta name="description" content="Descrição">
    
</head>

<body class="bg-[#1F1517] ">
    <header>
        <nav class="text-white m-auto container flex flex-row space-x-10 items-center justify-between px-20 py-4 max-xl:flex-col max-xl:text-sm max-xl:items-end -mr-7">
            <span class="font-teko-semibold text-3xl max-xl:hidden">LANDING-PAGE</span>
            <ul class="flex flex-row space-x-10 max-xl:hidden">
                <li class=" hover:text-[#A45A49] font-bold"><a href="">Home</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("equipe") }}">Quem Somos?</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="">Novidades</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="">Melhor Avaliados</a></li>
            </ul>
            <a href="{{url_for("login")}}" class="hover:text-[#A45A49] font-bold border px-2 rounded-lg max-xl:hidden">Já possui uma Conta?</a> 
            <div class="xl:hidden">
                <button id="menubutton" type="" class="inline-flex hover:bg-red-300" aria-label="Menu" aria-expanded="false">
                    <img class=" h-20 w-20" src="static/assets/menu.svg" alt="">
                </button>
            </div>
        </nav>
        
    </header>
    <main>
        <div class="bg-[#181012]">
            <section class="container max-w-6xl h-3/4 flex flex-row justify-between gap-24 py-10 px-8 m-auto items-center max-xl:max-w-md max-md:h-4/6 max-md:flex max-md:flex-row max-md:justify-between max-md:gap-1 max-md:py-0 max-md:px-8 max-md:m-auto max-md:items-center">
                <header class="ml-10 max-md:inline-block max-md:flex-column max-md:text-xs">
                    <span class="text-[#A45A49] text-base font-epilogue">AGENDE SEU HORÁRIO</span>
                    <h1 class="text-white font-montserrat">Faça Seu Registro!</h1>
                    <hr>
                    <h2 class="text-base text-white font-inter font-thin">Registre-se para agendar sua reserva</h2>

                    <form class="text-white flex flex-col font-intel py-5" action="/cadastrarUsuario" method="POST">
                        <label for="username">Email</label>
                        <input class="text-black mt-1 p-2 rounded-3xl border-none text-base" type="email" name="email"  placeholder="Digite seu email">
                        <label for="username">Senha</label>
                        <input class="text-black mt-1 p-2 rounded-3xl border-none text-base" type="password" name="password" placeholder="Digite sua senha">
                        <input class="text-black mt-2 p-2 rounded-3xl border-none text-base bg-[#A45A49] w-3/5 m-auto font-bold hover:bg-[#4e1002] cursor-pointer" type="submit" class="text-white w-3/5 m-auto mt-2.5 font-bold" value="Registrar" >
                        {% set mensagem = get_flashed_messages()%}
                        {% if mensagem %}
                        <div class="text-red-600 font-bold m-auto">
                            {{mensagem[0]}}
                        </div>
                        {% endif %}
                    </form>
                </header>
                
                <div class="columns-3 space-y-1 max-sm:hidden">
                    <figure><img src="static/assets/main/image1.png" alt="image1"></figure>
                    <figure><img src="static/assets/main/image2.png" alt="image2"></figure>
                    <figure><img src="static/assets/main/image3.png" alt="image3"></figure>
                    <figure><img src="static/assets/main/image4.png" alt="image4"></figure>
                    <figure><img src="static/assets/main/image5.png" alt="image5"></figure>
                    <figure><img src="static/assets/main/image6.png" alt="image6"></figure>
                    <figure><img src="static/assets/main/image10.png" alt="image10"></figure>
                    <figure><img src="static/assets/main/image11.png" alt="image11"></figure>
                    <figure><img src="static/assets/main/image12.png" alt="image12"></figure>  
                </div>
               
            </section>
        </div>
        <section class="flex flex-col max-w-6xl py-8 px-4 m-auto">
            <header class="flex flex-col gap-2">
                <span class="text-base uppercase text-[#A45A49]">Receitas</span>
                <h2 class="text-3xl text-[#FFF2E7] font-montserrat-bold">Confira as últimas receitas</h2>
                <p class="text-base text-[#C7BAB3] font-inter-regular">Dê uma olhada nas receitas mais amadas!</p>
            </header>

            <div class="py-0  flex flex-row flex-wrap gap-8 justify-between max-md:p-4 max-md:block max-md:flex-row max-md:flex-wrap max-md:gap-8 max-md:justify-between">
                <div class="bg-[#241A1C] p-8 rounded-lg flex flex-col gap-8 basis-2/5 mt-8">
                    <header class="flex flex-row justify-between items-center">
                        <div class="flex flex-col gap-2">
                            <span class="text-base uppercase text-[#E7A80E]">EM ALTA 🔥</span>
                            <h3 class="text-3xl text-[#FFF2E7] font-montserrat-bold">cappuccino</h3>
                        </div>
                        <p class="text-[#756A67] text-basic font-inter-semibold">Extraordinário · 4/4 </p>
                    </header>
                    <p class="text-[#C7BAB3] text-base">Uma bebida ideal para os amantes de doce e cremosidade. 😍</p>
                    
                    <div class="flex flex-row items-center gap-2">
                        <img class="rounded-full w-14" src="static/assets/equipe/Felipe.svg" alt="">
                        <span class="text-[#C7BAB3] text-3xl font-inter-semibold">Felipe Costa</span>
                    </div>
                </div>
                <div class="bg-[#241A1C] p-8 rounded-lg flex flex-col gap-8 basis-2/5 mt-8">
                    <header class="flex flex-row justify-between items-center">
                        <div class="flex flex-col gap-2">
                            <span class="text-base uppercase text-[#E7A80E]">EM ALTA 🔥</span>
                            <h3 class="text-3xl text-[#FFF2E7] font-montserrat-bold">cappuccino</h3>
                        </div>
                        <p class="text-[#756A67] text-base font-inter-semibold">Extraordinário · 4/4 </p>
                    </header>
                    <p class="text-[#C7BAB3] text-base">Uma bebida ideal para os amantes de doce e cremosidade. 😍</p>
                    <div class="flex flex-row items-center gap-2">
                        <img class="rounded-full w-14" src="static/assets/equipe/Felipe.svg" alt="">
                        <span class="text-[#C7BAB3] text-3xl font-inter-semibold">Felipe Costa</span>
                    </div>
                </div>
                <div class="bg-[#241A1C] p-8 rounded-lg flex flex-col gap-8 basis-2/5 mt-8">
                    <header class="flex flex-row justify-between items-center">
                        <div class="flex flex-col gap-2">
                            <span class="text-base uppercase text-[#E7A80E]">EM ALTA 🔥</span>
                            <h3 class="text-3xl text-[#FFF2E7] font-montserrat-bold">cappuccino</h3>
                        </div>
                        <p class="text-[#756A67] text-base font-inter-semibold">Extraordinário · 4/4 </p>
                    </header>
                    <p class="text-[#C7BAB3] text-base">Uma bebida ideal para os amantes de doce e cremosidade. 😍</p>
                    <div class="flex flex-row items-center gap-2">
                        <img class="rounded-full w-14" src="static/assets/equipe/Felipe.svg" alt="">
                        <span class="text-[#C7BAB3] text-3xl font-inter-semibold">Felipe Costa</span>
                    </div>
                </div>
                <div class="bg-[#241A1C] p-8 rounded-lg flex flex-col gap-8 basis-2/5 mt-8">
                    <header class="flex flex-row justify-between items-center">
                        <div class="flex flex-col gap-2">
                            <span class="text-base uppercase text-[#E7A80E]">EM ALTA 🔥</span>
                            <h3 class="text-3xl text-[#FFF2E7] font-montserrat-bold">cappuccino</h3>
                        </div>
                        <p class="text-[#756A67] text-base font-inter-semibold">Extraordinário · 4/4 </p>
                    </header>
                    <p class="text-[#C7BAB3] text-base">Uma bebida ideal para os amantes de doce e cremosidade. 😍</p>
                    <div class="flex flex-row items-center gap-2">
                        <img class="rounded-full w-14" src="static/assets/equipe/Felipe.svg" alt="">
                        <span class="text-[#C7BAB3] text-3xl font-inter-semibold">Felipe Costa</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="static bottom-0 w-full p-16 flex flex-col items-center gap-2 bg-[#23181A]">
        <p class="text-[#FFF2E7] text-base font-inter-semibold">&copy;Copyright Tríade do café</p>
        <p class="text-[#6e6e6e] text-base">Feito por Felipe</p>
    </footer>
    <script>
        const btn = document.getElementById("menubutton")
        const menu = document.getElementById("menu")

        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden")
        })
    </script>
</body>
</html>