<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/styles/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing-Page</title>
    <meta name="description" content="Descrição">
</head>

<body>
    <header>
        <nav class="cabecalho">
            <a href="{{url_for("index")}}" class="possui-conta inter-semibold">Não possui uma Conta?</a> 
        </nav>
    </header>
    <main>
        <div class="principal-container">
            <section class="hero">
                <header class="hero-conteudo">
                    <span class="destaque marrom epilogue-medium">agende seu horário</span>
                    <h1 class="montserrat-extrabold">Bem vindo de volta!</h1>
                    <hr>
                    <h2 class="hero-subtitulo inter-regular">Faça login para agendar sua reserva</h2>
                    <form class="intel-regular" action="/home" method="POST">
                        <label for="email">Email</label>
                        <input type="email" name="email" required placeholder="Digite seu email">

                        <label for="Senha">Senha</label>
                        <input type="password" name="senha" required placeholder="Digite sua senha">
                        
                        <input type="submit" class="registrar-btn" value="Entrar" >
                        {% set mensagem = get_flashed_messages()%}
                        {% if mensagem %}
                        <div class="alert">
                            {{mensagem[0]}}
                        </div>
                        {% endif %}
                    </form>
                    
                </header>
                
                <div class="hero-imagens-container">
                    <figure><img src="static/assets/main/image1.png" alt="image1"></figure>
                    <figure><img src="static/assets/main/image2.png" alt="image2"></figure>
                    <figure><img src="static/assets/main/image3.png" alt="image3"></figure>
                    <figure><img src="static/assets/main/image4.png" alt="image4"></figure>
                    <figure><img src="static/assets/main/image5.png" alt="image5"></figure>
                    <figure><img src="static/assets/main/image6.png" alt="image6"></figure>
                    <figure><img src="static/assets/main/image10.png" alt="image10"></figure>
                    <figure><img src="static/assets/main/image11.png" alt="image11"></figure>
                    <figure><img src="static/assets/main/image12.png" alt="image12"></figure>  
                </div>
               
            </section>
        </div>
    </main>
    <footer>
        <!-- | &lt= < &gt= > | -->
        <p class="copy inter-semibold">&copy;Copyright Tríade do café</p>
        <p class="footer-autor ">Feito por Felipe</p>
    </footer>
</body>
</html>