<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/styles/output.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing-Page</title>
    <meta name="description" content="Descrição">
    
</head>

<body class="bg-[#1F1517] ">
    <header>
        <nav class="text-white m-auto container flex flex-row space-x-10 items-center justify-between px-20 py-4 max-md:flex-col max-md:text-sm max-md:items-end max-md:-mr-12 max-md:py-1 max-lg:px-0 max-md:px-14 max-lg:space-x-3 max-lg:text-sm">
            <span class="font-teko-semibold text-3xl max-md:hidden items-center max-lg:hidden">LANDING-PAGE</span>
            <ul class="flex flex-row space-x-10 max-md:hidden ">
                <li class=" hover:text-[#A45A49] font-bold"><a href="{{url_for("index")}}">Home</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("equipe") }}">Quem Somos?</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="">Modelos</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{url_for("requisitos")}}">Requisitos</a></li>
            </ul>
            <a href="{{url_for("login")}}" class="hover:text-[#A45A49] font-bold border px-2 rounded-lg max-md:hidden">Já possui uma Conta?</a> 

            <div class="md:hidden">
                <button id="menubutton" type="" class="inline-flex hover:bg-[#A45A49] rounded-sm" aria-label="Menu" aria-expanded="false">
                    <img id="imagem" class=" h-7 w-7" src="static/assets/menu.svg" alt="">
                </button>
            </div>
        </nav>

        <nav id="menu" class="hidden text-white m-auto container flex-col space-x-10 py-1">
            <ul class="flex flex-col items-center">
                <li class="hover:text-[#A45A49] font-bold"><a href="{{url_for("index")}}">Home</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("equipe") }}">Quem Somos?</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="">Novidades</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{url_for("requisitos")}}">Requisitos</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{url_for("login")}}">Log in</a></li>
            </ul>
            
        </nav>  
    </header>
    <main  class="flex flex-col 2xl:mt-16 items-center max-lg:mt-20">
        <h1 class="font-inter font-bold text-3xl text-white mt-4 text-center">Modelo Entidade Relacional (MER)</h1>
        <div class="border-4 border-[#302225] rounded-lg mt-10 p-10 max-lg:p-4 max-md:border-none max-md:mt-0">
            <img class="h-[60vh] max-md:w-screen" src="static/assets/diagrama.svg" alt="">
        </div>
    </main>
    <script src="static/scripts/ResponsiveNavbar.js"></script>
</body>