<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/output.css">
    <title>Equipe - Reserva</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-[#1F1517] text-white">
    <main class="flex flex-col 2xl:mt-24">
        <section class="max-w-6xl h-1/5 flex flex-row gap-24 py-0 px-8 overflow-clip items-center max-lg:py-20">
            <header class="m-auto">
                <span class="text-[#A45A49] text-base uppercase marrom font-epilogue">Melhores avaliações</span>
                <h1 class="text-4xl font-montserrat font-bold max-sm:text-2xl">Confira as novidadas da semana!</h1>
                <h2 class="max-sm:hidden">Dê uma olhada nos novos restaurantes!</h2>
            </header>
        </section>
        <section class="grid grid-cols-2 gap-2">
            <div class="max-w-6xl m-auto flex flex-wrap justify-center max-sm:flex-col max-sm:items-center">
                <figure class="flex flex-row w-2/4 mb-10 text-center bg-[#241A1C] m-3 max-sm:w-3/4 rounded-md">
                    <div class="px-2 py-1">
                        <span class="block mt-3 text-[#A45A49] text-sm text-justify marrom font-epilogue">NOVO</span>
                        <div class="flex flex-row justify-between items-center">
                            <span class="block mt-3 text-base text-[#C7BAB3] text-center font-bold">A Casa do Porco</span>
                            <span class="block mt-3 text-xs text-[#756A67] text-center font-inter font-normal">Extraordinário · 4/4 </span>
                        </div>
                        <span class="block mt-3 text-xs text-[#756A67] text-left font-inter font-normal">Em 2015 os chefs Janaína e Jefferson Rueda alçaram um novo vôo e decidiram unir seus anos de carreira com suas paixões em um só lugar: A Casa do Porco.</span>
                        <span class="block mt-20 text-base text-[#756A67] text-justify font-inter font-normal">Janaína e Jefferson Rueda</span>
                    </div>
                    <img class="w-auto h-full rounded-r-lg justify-between block m-auto" src="static/assets/main/image13.svg" alt="">
                </figure>
            </div>
            <div class="max-w-6xl m-3 flex flex-wrap justify-center max-sm:flex-col max-sm:items-center">
                <figure class="flex flex-row w-2/4 mb-10 text-center bg-[#241A1C] m-3 max-sm:w-3/4 rounded-md">
                    <div class="px-2 py-1">
                        <span class="block mt-3 text-[#A45A49] text-sm text-justify marrom font-epilogue">NOVO</span>
                        <div class="flex flex-row justify-between items-center">
                            <span class="block mt-3 text-base text-[#C7BAB3] text-center font-bold">Maní</span>
                            <span class="block mt-3 text-xs text-[#756A67] text-center font-inter font-normal">Extraordinário · 4/4 </span>
                        </div>
                        <span class="block mt-3 text-xs text-[#756A67] text-left font-inter font-normal">Comida brasileira, autoral, orgânica (sempre que possível!) e contemporânea. Pelos chefs Helena Rizzo e Willem Vandeven. </span>
                        <span class="block mt-24 text-base text-[#756A67] text-justify font-inter font-normal">Helena Rizzo e Willem Vandeven</span>
                    </div>
                    <img class="w-auto h-full rounded-r-lg justify-between block m-auto" src="static/assets/main/image14.svg" alt="">
                </figure>
            </div>
            <div class="max-w-6xl m-auto flex flex-wrap justify-center max-sm:flex-col max-sm:items-center">
                <figure class="flex flex-row w-2/4 mb-10 text-center bg-[#241A1C] m-3 max-sm:w-3/4 rounded-md">
                    <div class="px-2 py-1">
                        <span class="block mt-3 text-[#A45A49] text-sm text-justify marrom font-epilogue">NOVO</span>
                        <div class="flex flex-row justify-between items-center">
                            <span class="block mt-3 text-base text-[#C7BAB3] text-center font-bold">Jun Sakamoto</span>
                            <span class="block mt-3 text-xs text-[#756A67] text-center font-inter font-normal">Extraordinário · 4/4 </span>
                        </div>
                        <span class="block mt-3 text-xs text-[#756A67] text-left font-inter font-normal">O renomado chef Jun Sakamoto cria pratos elaborados usando ingredientes únicos em um restaurante japonês bem elegante.</span>
                        <span class="block mt-20 text-base text-[#756A67] text-justify font-inter font-normal">Jun</span>
                    </div>
                    <img class="w-auto h-full rounded-r-lg justify-between block m-auto" src="static/assets/main/image15.svg" alt="">
                </figure>
            </div>
            <div class="max-w-6xl m-auto flex flex-wrap justify-center max-sm:flex-col max-sm:items-center">
                <figure class="flex flex-row w-2/4 mb-10 text-center bg-[#241A1C] m-3 max-sm:w-3/4 rounded-md">
                    <div class="px-2 py-1">
                        <span class="block mt-3 text-[#A45A49] text-sm text-justify marrom font-epilogue">NOVO</span>
                        <div class="flex flex-row justify-between items-center">
                            <span class="block mt-3 text-base text-[#C7BAB3] text-center font-bold">A Casa do Porco</span>
                            <span class="block mt-3 text-xs text-[#756A67] text-center font-inter font-normal">Extraordinário · 4/4 </span>
                        </div>
                        <span class="block mt-3 text-xs text-[#756A67] text-left font-inter font-normal">Em 2015 os chefs Janaína e Jefferson Rueda alçaram um novo vôo e decidiram unir seus anos de carreira com suas paixões em um só lugar: A Casa do Porco.</span>
                        <span class="block mt-20 text-base text-[#756A67] text-justify font-inter font-normal">Janaína e Jefferson Rueda</span>
                    </div>
                    <img class="w-auto h-full rounded-r-lg justify-between block m-auto" src="static/assets/main/image16.svg" alt="">
                </figure>
            </div>
        </section>
    </main>
    <footer class=" w-full p-16 flex flex-col items-center gap-2 bg-[#23181A]">
        <p class="text-[#FFF2E7] text-base font-inter-semibold">&copy;Copyright Tríade do café</p>
        <p class="text-[#6e6e6e] text-base">Feito por Felipe</p>
    </footer>
    <script src="static/scripts/ResponsiveNavbar.js"></script>
</body>
</html>