<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/output.css">
    <title>Equipe - Reserva</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-white text-white">
    <header>
        <nav class=" bg-white text-gray-600 shadow-lg m-auto flex flex-row space-x-10 items-center justify-between px-64 py-4 max-md:flex-col max-md:text-sm max-md:items-end max-md:-mr-12 max-md:py-1 max-lg:px-0 max-md:px-14 max-lg:space-x-3 max-lg:text-sm">
            
            <ul class="flex flex-row items-center space-x-10 max-md:hidden">
                <figure><img src="static/assets/logo.svg" alt="logo"></figure>
                <li class="font-bold"><a href="{{url_for("home")}}">Home</a></li>
                <li class="font-bold"><a href="{{ url_for("novidades") }}">Novidades</a></li>
                
            </ul>
            <a href="{{url_for("logout")}}" class="hover:text-yellow-600 font-bold  px-2 rounded-md max-md:hidden">Sair</a> 
            <div class="md:hidden">
                <button id="menubutton" type="" class="inline-flex hover:bg-[#A45A49] rounded-sm" aria-label="Menu" aria-expanded="false">
                    <img id="imagem" class=" h-7 w-7" src="static/assets/menu.svg" alt="">
                </button>
            </div>

        </nav>
        <!-- navbar p/mobile -->
        <nav id="menu" class="hidden text-white m-auto container flex-col space-x-10 py-1">
            <ul class="flex flex-col items-center">
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("home") }}">home</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("novidades") }}">Novidades</a></li>
                <li class="hover:text-[#A45A49] font-bold"><a href="{{ url_for("logout") }}">Sair</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="flex flex-col items-center py-8">
        <section class="max-w-6xl w-full px-4 md:px-8">
            <header class="text-center text-gray-800 mb-8">
                <h1 class="text-4xl font-montserrat font-bold md:text-3xl">Confira as novidades da semana!</h1>
                <h2 class="hidden md:block">Dê uma olhada nos novos restaurantes!</h2>
            </header>
        </section>
        
        <section class="grid grid-cols-1 md:grid-cols-2 gap-4 px-4 md:px-8 mt-16">
            <div class="bg-gray-100 shadow-md rounded-md overflow-hidden border hover:border-2 hover:border-red-800">
                <a href="{{url_for("reserva")}}" class="flex flex-col md:flex-row cursor-pointer">
                    <div class="p-4 w-full">
                        <span class="block font-semibold text-red-900 text-sm">NOVO</span>
                        <div class="flex flex-col md:flex-row justify-between items-center mt-3">
                            <span class="text-base text-gray-700 font-bold">A Casa do Porco</span>
                        </div>
                        <p class="text-xs text-gray-800 mt-3">Em 2015 os chefs Janaína e Jefferson Rueda alçaram um novo vôo...</p>
                        <p class="text-xs text-gray-800 mt-5">Janaína e Jefferson Rueda</p>
                    </div>
                    <img class="w-full h-48 object-cover" src="static/assets/main/image13.svg" alt="">
                </a>
            </div>
            <div class="bg-gray-100 shadow-md rounded-md overflow-hidden border hover:border-2 hover:border-red-800">
                <a href="{{url_for("reserva")}}" class="flex flex-col md:flex-row">
                    <div class="p-4 w-full">
                        <span class="block font-semibold text-red-900 text-sm">NOVO</span>
                        <div class="flex flex-col md:flex-row justify-between items-center mt-3">
                            <span class="text-base text-gray-700 font-bold">Maní</span>
                        </div>
                        <p class="text-xs text-gray-800 mt-3">Comida brasileira, autoral, orgânica (sempre que possível!)...</p>
                        <p class="text-xs text-gray-800 mt-5">Helena Rizzo e Willem Vandeven</p>
                    </div>
                    <img class="w-full h-48 object-cover" src="static/assets/main/image14.svg" alt="">
                </a>
            </div>
            <div class="bg-gray-100 shadow-md rounded-md overflow-hidden border hover:border-2 hover:border-red-800">
                <a href="{{url_for("reserva")}}" class="flex flex-col md:flex-row">
                    <div class="p-4 w-full">
                        <span class="block font-semibold text-red-900 text-sm">NOVO</span>
                        <div class="flex flex-col md:flex-row justify-between items-center mt-3">
                            <div class="flex flex-row">
                                <span class="text-base text-gray-700 font-bold">Jun Sakamoto</span> 
                            </div>
                        </div>
                        <p class="text-xs text-gray-800 mt-3">O renomado chef Jun Sakamoto cria pratos elaborados...</p>
                        <p class="text-xs text-gray-800 mt-5">Jun</p>
                    </div>
                    <img class="w-full h-48 object-cover" src="static/assets/main/image15.svg" alt="">
                </a>
            </div>
            <div class="bg-gray-100 shadow-md rounded-md overflow-hidden border hover:border-2 hover:border-red-800">
                <a href="{{url_for("reserva")}}" class="flex flex-col md:flex-row">
                    <div class="p-4 w-full">
                        <span class="block font-semibold text-red-900 text-sm">NOVO</span>
                        <div class="flex flex-col md:flex-row justify-between items-center mt-3">
                            <span class="text-base text-gray-700 font-bold">Churrascaria Boi na Brasa</span>
                        </div>
                        <p class="text-xs text-gray-800 mt-3">Uma breve descrição do restaurante</p>
                        <p class="text-xs text-gray-800 mt-5">Chef</p>
                    </div>
                    <img class="w-full h-48 object-cover" src="static/assets/main/image16.svg" alt="">
                </a>
            </div>
        </section>
    </main>
    <footer class="bg-white text-white text-center p-8 md:absolute bottom-0 w-full">
        <p class="text-gray-700 text-base font-inter-semibold">&copy; Copyright Tríade do café</p>
        <p class="text-gray-900 text-base">Feito por Felipe</p>
    </footer>
    <script src="static/scripts/ResponsiveNavbar.js"></script>
</body>
</html>
