<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-[#181012]">
    <div class="flex flex-col">
        <div>
            <img class="w-full" src="static/assets/TelaDeFundo.png">
        </div>
        <div class="flex items-center justify-center mt-2 w-full">

            <div>
                <div class="flex flex-col  px-12 py-4 bg-[#241A1C]">
                    <div>
                        <img class="" src="static/assets/ImagensReserva.png" alt="Imagem Reserva">
                        <div class="flex flex-row mt-2 items-start">
                            <img src="static/assets/ImagemRestaurante.png" alt="">
                            <div class="flex flex-col mt-2 ml-2 text-white">
                                <h1 class="font-bold">
                                    Bella Pizza
                                </h1>
                                <h2>
                                    Endereço: Avenida Calama, 3988, Embratel, Porto Velho-RO
                                </h2>
                            </div>
                        </div>  
                    </div>
                    <div>
                        <div class="flex flex-row mt-4 items-start">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="size-6 text-orange-500">
                                <path strokeLinecap="round" strokeLinejoin="round" d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
                              </svg>                          
                            <div class="flex flex-col ml-2 text-white">
                                <h1 class="font-bold">
                                    Sobre
                                </h1>
                                <h2>
                                    Ótimos coquetéis · Aconchegante · Casual
                                </h2>
                            </div>
                        </div>  
                    </div>
                    <div>
                        <div class="flex flex-row mt-4 items-start">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="size-6 text-orange-500">
                                <path strokeLinecap="round" strokeLinejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                              </svg>                       
                            <div class="flex flex-col ml-2 text-white">
                                <h1 class="font-bold">
                                    Horários de abertura 
                                </h1>
                                <li>
                                    De segunda a sexta: 11:30 - 15:00, 18:30 - 22:30
                                </h2>
                            </div>
                        </div>  
                    </div>           
                </div>  
            </div>   
            
            
        </div>           
    </div>
</body>
</html>

  